@page
@{
    ViewData["Titulo"] = "Lista de Alumnos";
}

<h1>@ViewData["Titulo"] <i class="fas fa-user"></i></h1>

<table class="table table-striped table-bordered" id="tablaAlumnos">
    <thead class="thead-dark">
        <tr>
            <th>Matrícula</th>
            <th>Nombre completo</th>
            <th>Fecha de nacimiento</th>
            <th>Domicilio</th>
            <th>Teléfono</th>
            <th>Género</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody id="filasAlumnos">
        
    </tbody>
</table>

<button onclick="agregarAlumno()" type="button" class="btn btn-sm btn-success"><i class="fas fa-user-plus"></i> &nbsp;Agregar nuevo alumno</button>

<!-- Modal -->
<div class="modal fade" id="actualizarModal" tabindex="-1" aria-labelledby="actualizarModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="min-width: 700px;">
    <div class="modal-content">
        <form method="POST">
            <div class="modal-header">
                <h5 class="modal-title" id="actualizarModalLabel">Actualizar alumno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="margin: 20px;">
                    <input type="hidden" value="0" id="idAlumno" name="Id">
                    <div class="form-group row">
                        <label class=" col-sm-3 col-form-label">Matrícula: </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="matricula" name="Matricula">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class=" col-sm-3 col-form-label">Nombre: </label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="nombre" name="Nombre">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class=" col-sm-3 col-form-label">Fecha de nacimiento: </label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" id="fechaNacimiento" name="Fecha">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class=" col-sm-3 col-form-label">Género: </label>
                        <div class="col-sm-3">
                            <select class="form-control" id="sexo" name="Sexo">
                                <option value="H">Hombre</option>
                                <option value="M">Mujer</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class=" col-sm-3 col-form-label">Domicilio: </label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="domicilio" name="Domicilio">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class=" col-sm-3 col-form-label">Teléfono: </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="telefono" name="Telefono">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-sm btn-primary" onclick="enviar();" id="botonAgregar">Actualizar</button>
            </div>
        </form>
    </div>
  </div>
</div>

<div class="modal fade" id="dialogoEliminarAlumno" tabindex="-1" aria-labelledby="actualizarModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="min-width: 400px;">
    <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="actualizarModalLabel">Eliminar alumno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="margin: 20px;">
                    <input type="hidden" value="0" id="idAlumnoEliminar">
                    <h6>¿Esá seguro de eliminar al alumno <strong><span class="text-danger" id="nombreAlumnoEliminar"></span></strong>?</h6>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-sm btn-danger" onclick="confirmarEliminacion();" id="botonAgregar">Eliminar</button>
            </div>
    </div>
  </div>
</div>


@section Scripts
{
    <script>
        $(document).ready( function () {
            $('#tablaAlumnos').DataTable({
                "info":     false,
                "order": [[1, "asc"], [0, "desc"]],
                "ajax": "/AlumnosServer/ObtenerAlumnos",
                "columns": [
                    {"data": "matricula", "searchable": true},
                    {"data": "nombre", "searchable": true},
                    {"data": "fecha", "searchable": true},
                    {"data": "domicilio", "searchable": true},
                    {"data": "telefono", "searchable": true},
                    {"data": "sexo", "searchable": true},
                    {"data": "eliminar", "searchable": true}
                ]
            });
        });


        function enviar() {
            $("#botonAgregar").prop("disabled", true);
            var id = $("#idAlumno").val();
            var matricula = $("#matricula").val();
            var nombre = $("#nombre").val();
            var fecha = $("#fechaNacimiento").val();
            var domicilio = $("#domicilio").val();
            var telefono = $("#telefono").val();
            var sexo = $("#sexo").val();

            var alumno = {
                id: id,
                matricula: matricula,
                nombre: nombre,
                fecha: fecha,
                domicilio: domicilio,
                telefono: telefono,
                sexo: sexo
            };

            $.ajax({
                type: "POST",
                url: "/AlumnosServer/GuardarDB",
                dataType: "json",
                contentType: "application/json",
                processData: false,
                data: JSON.stringify(alumno),
                success: function(data) {
                    if(data.guardado)
                    {
                        $("#filasAlumnos").load("VistasParciales/TablaAlumnosAdmin");
                        $("#botonAgregar").prop("disabled", false);
                        alert("Los datos se han almacenado con éxito.");
                        $("#actualizarModal").modal("hide");
                    }
                    else
                    {
                        $("#botonAgregar").prop("disabled", false);
                        alert("Lo sentimos, no se pudieron almacenar los datos.");
                    }
                },
                error: function(){
                    alert("Lo sentimos, hubo un error.");
                }
            });
        }


        function mostrarDatos(id, matricula, nombre, fecha, domicilio, telefono) {
            $("#idAlumno").val(id);
            $("#matricula").val(matricula);
            $("#nombre").val(nombre);
            $("#fechaNacimiento").val(fecha);
            $("#domicilio").val(domicilio);
            $("#telefono").val(telefono);
            $("#actualizarModal").modal("show");
        }

        function agregarAlumno(){
            $("#idAlumno").val(0);
            $("#matricula").val("");
            $("#nombre").val("");
            $("#fechaNacimiento").val("");
            $("#domicilio").val("");
            $("#telefono").val("");
            
            $("#actualizarModal").modal("show");
            $("#actualizarModalLabel").val("Agregar alumno");
            $("botonAgregar").val("Agregar");
        }

        function eliminarAlumno(id, nombre) {
            $("#idAlumnoEliminar").val(id);
            $("#nombreAlumnoEliminar").html(nombre);
            $("#dialogoEliminarAlumno").modal("show");
        }

        function confirmarEliminacion() {
            var id = $("#idAlumnoEliminar").val();
            $.ajax({
                type: "POST",
                url: "/AlumnosServer/EliminarDB?id=" + id,
                dataType: "json",
                contentType: "application/json",
                processData: false,
                data: null,
                success: function(data) {
                    if(data.eliminado)
                    {
                        $("#filasAlumnos").load("VistasParciales/TablaAlumnosAdmin");
                        alert("El alumno ha sido eliminado con éxito");
                        $("#dialogoEliminarAlumno").modal("hide");
                    }
                    else
                    {
                        //$("#botonAgregar").prop("disabled", false);
                        alert("Lo sentimos, no se eliminó al alumno");
                    }
                },
                error: function(){
                    alert("Lo sentimos, hubo un error.");
                }
            });
        }
    </script>
}
