@page
@model OperacionesModel
@{
    ViewData["Title"] = "Operaciones aritméticas";
}

<div class="jumbotron">
  <h1 class="display-4">Bienvenido!</h1>
  <p class="lead">Esto es un módulo para la realización de operaciones aritméticas</p>
  <hr class="my-4">
  <p>Deberá capturar el valor de los operandos, posteriormente seleccionar la operación deseada y da clic para realizarla</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<form method="POST">
    <div>
        <div>
            <label>Operando 1: </label>
            <input type="number" asp-for="Operando1">
        </div>

        <div>
            <label>Operando 1: </label>
            <input type="number" asp-for="Operando2">
        </div>

        <div>
            <label>Operación:</label>
            <select asp-for="Operacion">
                <option value="1">Sumar</option>
                <option value="2">Restar</option>
                <option value="3">Multiplicar</option>
                <option value="4">Dividir</option>
            </select>
        </div>

        <div>
            <button action="submit" class="btn btn-danger btn-sm" style="margin: 10px">Realizar operación</button>
        </div>

        <div>
            <label>Resultado:</label>
            <input type="number" name="resultado" id="resultado" value='@ViewData["Resultado"]' disabled>
        </div>
    </div>
</form>